@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.myInfoFont {
    font-family: 'SDKukdetopokki-Lt';
    color: black;
    font-size: small;
}

.feedFont {
    font-family: 'BBTreeGB';
    font-size: small;
}

.mainFont {
    font-family: 'BBTreeGB';
}

.miniHomeFont {
    font-family: 'Dela Gothic One', cursive;
    color: rgb(20, 132, 184);
}

.padoFont {
    font-family: 'BBTreeGB';
    color: black;
    font-size: small;
    margin: 5px;
}

.menuFont {
    font-family: 'BBTreeGB';
    color: whitesmoke;
}

.photoTitleFont {
    font-family: 'Bazzi';
    font-size: larger;
    margin-left: 5px;
}

.photoDateFont {
    font-family: 'Bazzi';
}

.photoContentFont {
    font-family: 'Bazzi';
    margin-left: 8px;
    margin-top: 5px;
}

.diaryTodayFont {
    font-family: 'Bazzi';
    color: rgb(20, 132, 184);
    font-weight: 900;
}

.diaryDateFont {
    font-family: 'Bazzi';
    color: black;
    font-size: small;
}

.diaryDateBlueFont {
    font-family: 'Bazzi';
    color: rgb(40, 40, 233);
    font-size: small;
}

.diaryDateRedFont {
    font-family: 'Bazzi';
    color: rgb(240, 51, 51);
    font-size: small;
}

.diaryContentDateFont {
    font-family: 'Bazzi';
    color: rgb(20, 132, 184);
}

.diaryContentFont {
    font-family: 'Bazzi';
    color: black;
}

.diarySecretFont {
    font-family: 'Bazzi';
    color: whitesmoke;
}

.diarySecretRedFont {
    font-family: 'Bazzi';
    color: red;
}

.guestbookTitleFont {
    font-family: 'Bazzi';
    margin-left: 5px;
    word-spacing: 8px;
}

.guestbookDateFont {
    font-family: 'Bazzi';
    font-size: small;
    margin-right: 8px;
}

.guestbookContentFont {
    font-family: 'Bazzi';
    margin-left: 8px;
    margin-top: 5px;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}