body {
    background-color: gray;
    background-image: url(../static/images/pattern.png);
    background-size: 100px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover {
    background-color: skyblue;
    border-radius: 9px;
    border: 1px solid gray;

    width: 960px;
    height: 660px;

    margin: 100px auto;

    position: relative;
}

.bookdot {
    border: 1px dashed whitesmoke;
    border-radius: 9px;

    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

.page {
    background-color: rgba(224, 221, 221, 0.863);
    border-radius: 9px;
    border: 1px gray;

    position: absolute;
    left: 9px;
    top: 9px;
    right: 9px;
    bottom: 9px;
}

.container {
    width: 900px;
    height: 660px;
    border: 1px red;
    padding: 10px;
    display: flex;
}

.leftColumn {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.visitCountRow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0.05;
}

.myInfoRow {
    flex: 0.85;
    border-radius: 9px;
    border: 1px gray;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.profileImage {
    flex: 0 1 auto;
    align-self: auto;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
}

.profileInfo {
    flex: 2 1 auto;
    align-self: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.profileName {
    flex: 0 1 auto;
    align-self: auto;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.centerColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 3px;
    height: 660px;
}

.nameRow {
    flex: 0.05;
}

.centerRow {
    flex: 0.85;
    border-radius: 9px;
    border: 1px gray;
    width: 580px;
}

.buttonColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttonRow {
    flex: 0.9;
}

.box {
    border: 1px solid gray;
    background-color: whitesmoke;
}

.todayColor {
    color: rgb(243, 99, 2);
}

.visitCountSetting {
    font-size: x-small;
    text-align: center;
}

.homeNameSetting {
    font-size: large;
    text-align: left;
}

.urlSetting {
    font-size: small;
    text-align: right;
}

.padoDropdown {
    display: flex;
    flex: 1;
    margin: 10px;
    border: 1px solid;
    position: relative;
}

.padoDropdownBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
}

.padoTriangleDown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin: 1px;
}

.padoDropdownContent {
    display: none;
    position: absolute;
    width: 9em;
    border-radius: 9px;
}

.padoDropdown:hover > .padoDropdownContent {
    display: block;
}
  
.padoDropdownContent > a {
    display: block;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
}
  
.padoDropdownContent > a:hover {
    background-color: gray;
}

.menu a {
    border-radius: 9px;
    border: 1px solid rgb(20, 132, 184);
    background-color: skyblue;
    text-decoration: none;
    color: whitesmoke;
}

.menuHome {
    display: flex;
    flex: 1;
    padding: 8px;
    margin-top: 50px;
    border-radius: 9px;
}

.menuDiary {
    display: flex;
    flex: 1;
    padding: 8px;
    margin-top: 10px;
    border-radius: 9px;
}

.menuPhoto {
    display: flex;
    flex: 1;
    padding: 8px;
    margin-top: 10px;
    border-radius: 9px;
}

.menuGuestbook {
    display: flex;
    flex: 1;
    padding: 8px;
    margin-top: 10px;
    border-radius: 9px;
}

.menu > a:hover {
    background-color: rgb(20, 132, 184);
}