body {
    background-color: gray;
    background-image: url(../static/images/pattern.png);
    background-size: 100px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
}

.bookcover {
    background-color: whitesmoke;
    border-radius: 9px;
    border: 1px solid gray;

    width: 960px;
    height: 660px;

    margin: 100px auto;

    position: relative;
}
