@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

h1 {
    font-family: 'Chango', cursive;
    color: salmon;
}

nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

nav .links {
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 7em;
    height: 3rem;
    text-align: center;
    line-height: 50px;
    background-color: salmon;
    font-family: Recipekorea;
    color: snow;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Recipekorea';
    color: salmon;
}

h3 {
    font-family: 'Recipekorea';
    color: salmon;
}

h4 {
    font-family: 'Recipekorea';
    color: black;
    font-style: italic;
}

h5 {
    font-family: 'Recipekorea';
    color: black;
}

ul {
    list-style: decimal;
    font-family: 'Recipekorea';
    font-size: small;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
