.photoContainer {
    display: flex;
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 10px;

    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 250px;
    right: 100px;

    overflow: auto;
}

.photoRow {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.photoTitle {
    display: flex;
    background-color: rgb(197, 195, 195);
    justify-content: space-between;
    line-height: 40px;
}

.photoTitleDate {
    font-size: small;
    margin-right: 8px;
}

.photoContent {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
}